@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto');
* {

    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    
    font-family: 'Open sans', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}


li {

    list-style: none;
    display: inline-block
}

a {

    text-decoration: none;
    transition: all 500ms ease-in-out;
}

a:hover,
a:active {

    text-decoration: none;
}

h1,
h2,
h4 {
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

p {
    font-size: 15px;
    line-height: 21px;
}

.btn {

    transition: all 300ms ease-in-out;
    font-weight: 500 !important;
    text-transform: uppercase;
}

.btn:hover {

    background-color: #ededed !important;
    color: #3c3c3c !important;
    border: 1px solid #fff !important;
}

/*HEADER*/

.header {
    
    height: 700px;
    width: 100%;
    /*padding:30px 0 30px;*/
    margin-top: 0px;
   background: url(../images/Footer.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
nav {
      padding: 8px;
}
 
.logo {
      float: left;
      padding: 8px;
      margin-left: 16px;
      margin-top: 8px;
}
 
.logo a {
      color: #000;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 18px;
      letter-spacing: 0px;
      text-decoration: none;
}
 
nav ul {
      float: right;
}
 
nav ul li {
      display: inline-block;
      float: left;
}
 
nav ul li:not(:first-child) {
      margin-left: 48px;
}
 
nav ul li:last-child {
      margin-right: 24px;
}
 
nav ul li a {
      display: inline-block;
      outline: none;
      color: #000;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 14px;
      letter-spacing: 1.2px;
      font-weight: 600;
}

nav ul li a:before
{
    content: '';
    position:absolute;
    bottom:0;
    left:0;
    width:12px;
    height:12px;
    border: 3px solid #e91e63;
    border-width:0 0 3px 3px;
    transition: .5s;
    opacity: 0;
}
ul li a:hover:before
{
    bottom: -8px;
    left:-8px;
    opacity:1;
}
ul li a:after
{
    content: '';
    position:absolute;
    top:0;
    right:0;
    width:12px;
    height:12px;
    border:3px solid #e91e63;
    border-width:3px 3px 0 0;
    transition:.5s;
    opacity:0;
}
ul li a:hover:after
{
    top:-8px;
    right:-8px;
    opacity:1;
}

 
@media screen and (max-width: 864px) {
      .logo {
            padding: 0;
      }
 
      .nav-wrapper {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: #fff;
            opacity: 0;
            transition: all 0.2s ease;
      }
 
      .nav-wrapper ul {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
      }
 
      .nav-wrapper ul li {
            display: block;
            float: none;
            width: 100%;
            text-align: right;
            margin-bottom: 10px;
      }
 
      .nav-wrapper ul li:nth-child(1) a {
            transition-delay: 0.2s;
      }
 
      .nav-wrapper ul li:nth-child(2) a {
            transition-delay: 0.3s;
      }
 
      .nav-wrapper ul li:nth-child(3) a {
            transition-delay: 0.4s;
      }
 
      .nav-wrapper ul li:nth-child(4) a {
            transition-delay: 0.5s;
      }
 
      .nav-wrapper ul li:not(:first-child) {
            margin-left: 0;
      }
 
      .nav-wrapper ul li a {
            padding: 10px 24px;
            opacity: 0;
            color: #000;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 1.2px;
            transform: translateX(-20px);
            transition: all 0.2s ease;
      }
 
      .nav-btn {
            position: fixed;
            right: 10px;
            top: 10px;
            display: block;
            width: 48px;
            height: 48px;
            cursor: pointer;
            z-index: 9999;
            border-radius: 50%;
      }
 
      .nav-btn i {
            display: block;
            width: 20px;
            height: 2px;
            background: #000;
            border-radius: 2px;
            margin-left: 14px;
      }
 
      .nav-btn i:nth-child(1) {
            margin-top: 16px;
      }
 
      .nav-btn i:nth-child(2) {
            margin-top: 4px;
            opacity: 1;
      }
 
      .nav-btn i:nth-child(3) {
            margin-top: 4px;
      }
}
 
#nav:checked + .nav-btn {
      transform: rotate(45deg);
}
 
#nav:checked + .nav-btn i {
      background: #000;
      transition: transform 0.2s ease;
}
 
#nav:checked + .nav-btn i:nth-child(1) {
      transform: translateY(6px) rotate(180deg);
}
 
#nav:checked + .nav-btn i:nth-child(2) {
      opacity: 0;
}
 
#nav:checked + .nav-btn i:nth-child(3) {
      transform: translateY(-6px) rotate(90deg);
}
 
#nav:checked ~ .nav-wrapper {
      z-index: 9990;
      opacity: 1;
}
 
#nav:checked ~ .nav-wrapper ul li a {
      opacity: 1;
      transform: translateX(0);
}
 
.hidden {
      display: none;
}

.box
{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:1000px;
    padding:40px;
    background:rgba(255,255,255,.8);
    box-sizing:border-box;
    /*border-radius:50px;*/
    box-shadow:0 15px 25px rgba(0,0,0,.9);
    color: black;
}


.box .packages {
    
    padding: 30px;
    text-align: center;
    border: 1px solid #ccc;
    /*background-color: #fff;*/
    /*border-radius: 5px;*/
    margin-top: 5px;
}
#home
{
    height:100%;
    position:relative;
    display:table;
    height:65%;
    width:100%;
    background-size:cover;
}
.landing-text
{
    display:table-cell;
    text-align:center;
    vertical-align:middle;
    color:black;
}
.landing-text h1
{
    font-size:500%;
    font-weight:700;
}

.landing-text h3
{
    font-size:400%;
    font-weight:650;
}

.landing-text h2
{
    font-size:550;
    font-weight:650;
}
.box .packages li {
    
    display: block;
    padding: 5px;
}

.box .packages h4,
.box .packages h1,
.box .packages b {
    
    color: #4c4c4c;
}

.box .packages p,
.box .packages li {
    
    color: #737373;
}

.box .packages button {
    
    margin-top: 10px;
}
.header h1 {
    
    font-size: 40px;
    font-weight: 700;
    padding-top: 30px;
}

.header h1,
.header p,
.header button {
    
    margin-top: 20px;
}

.home .landing-text .btn
{
     padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;

}

.scroll-indicator {	
	position: absolute;
	left: 50%;
	font-size: 50px;
	
	-webkit-animation: bounce 1s infinite; 
	animation: bounce 1s infinite;
}

@-webkit-keyframes bounce {
	 0% { top: 15%; }
	 50%   { top: 20%; }
	 100% { top: 15%; }
}

@keyframes bounce {
	 0% { top: 15%; }
	 50%   { top: 20%; }
	 100% { top: 15%; }
}

.header .title
{
    position:absolute;
    text-align:center;
    color:darkgreen;
}
.header .btn {
    
    border-radius: 0;
    margin: 40px 20px;
}


@media(max-width:768px) {
    
    .header {
        
        padding: 30px;
        height: 750px;
    }
    
    
    .header .btn {
        
        font-size: 10px;
        margin-left: 20px;
    }
    
    .header h1 {
        
        font-size: 20px;
    }
    
    .header p {
        
        font-size: 10px;
    }
}

/*end of header*/

/*myworks*/

/*.myworks {
    
    padding: 80px 0 80px;
    text-align: center;
    height:1000%;
    width:100%;
    background:linear-gradient(90deg,#f0027f,#75489f);
    /*background-color: #FEF5E7  ;*/
/*}

.row{
    margin-top: 2%;
    margin-bottom: 15%;
    margin-left: 8%;
}

.myworks .img-circle
{
    
   display: block;
    margin-left: auto;
    margin-right: auto;
   
}
.myworks .btn 
{
     padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
}
.myworks .row .packages h1
{
    font-size:500%;
    font-weight:500;
}

.sweetlanding li
{
    /*font-family: 'Montserrat', sans-serif;*/
    /*font-size:20px;
     /*font-size:400%;
    font-weight:400;*/
/*}

.card:hover{
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
}

@media(max-width:768px) {
    
    .myworks {
        
        padding: 30px;
    }
}*/

/*end of myworks*/
/*PRICING*/

.pricing {
    
    padding: 80px 0 80px;
    text-align: center;
    /*background-color: #3399ff;*/
     background:linear-gradient(90deg,#f0027f,#75489f);
}

.pricing h2,
.pricing p {
    
    color: #fff;
}

.pricing .500
{
    color:black;
}
.pricing p {
    
    padding-bottom: 40px;
}

.pricing h1
{
    color:black;
}
.pricing li h3
{
    color:black;
}
.pricing p
{
    color:black;
}
.pricing .packages {
    
    padding: 30px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 30px;
}


.packages li {
    
    display: block;
    padding: 5px;
}

.packages h4,
.packages h1,
.packages b {
    
    color: #4c4c4c;
}

.packages p,
.packages li {
    
    color: #737373;
}

.packages button {
    
    margin-top: 10px;
}



@media(max-width:768px) {
    
    .pricing {
        
        padding: 80px;
    }
    
    .packages {
        
        width: 80%;
        margin-left: 25px;
    }
}


/*TEAM*/
/*MYWORKS*/


/*.myworks {
     height: 900px;
    width: 100%;
    padding: 0;
    margin-top: 0px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    
    padding: 50px 0 80px;
    text-align: center;
    background:linear-gradient(90deg,#f0027f,#75489f);
   /* background-color: #3399ff;*/
/*}
.myworks img
{
    border-radius:50%;
    margin-top:5%;
    display:block;
    margin-left:50%;
    margin-right:auto;
    width:50%;
    height:50%;
}
.myworks h2,
.myworks p {
    margin-left:0%;
    text-align: center;
    color: #fff;
}

.myworks h5
{
    color:#000;
}
.myworks p {
    
    padding-bottom: 40px;
    font-size:10px;
}

.myworks .packages {
    
    padding: 30px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 30px;
}


.myworks .packages li {
    
    display: block;
    padding: 5px;
}

.myworks .packages h4,
.myworks .packages h1,
.myworks .packages b {
    
    color: #4c4c4c;
    font-size:10px;
}

.myworks .packages p,
.myworks .packages li {
    
    color: #737373;
}

.myworks .packages button {
    
    margin-top: 10px;
}

/*MYWORKS*/

.myworks {
    padding: 100px 0 100px;
    text-align: center;
     background:linear-gradient(90deg,#f0027f,#75489f);
    /*background-color: #3399ff;*/
}

.myworks h2,
.myworks p {
    
    color: #fff;
}
.myworks .li
{
	color:#000000;
	text-align:left;
}
.myworks img
{
    border-radius:50%;
    margin-top:5%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%;
    height:50%;
}
.myworks p {
    
    padding-bottom: 40px;
}

.myworks .packages {
    
    padding: 30px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 30px;
}


.packages li {
    
    display: block;
    padding: 5px;
}

.packages h4,
.packages h1,h2
.packages b {
    
    color: #4c4c4c;
}

.packages p,
.packages li {
    
    color: #737373;
}

.packages button {
    
    margin-top: 10px;
}



@media(max-width:768px) {
    
    .pricing {
        
        padding: 30px;
    }
    
    .packages {
        
        width: 80%;
        margin-left: 25px;
    }
}
/*end of myworks*/


/* HOME PART OF IT*/


.kanak {
    padding: 50px 0 80px;
    text-align: center;
     background:linear-gradient(90deg,#f0027f,#75489f);
    /*background-color: #3399ff;*/
}

.kanak h2,
.kanak p {
    
    color: #fff;
}
.kanak .li
{
	color:#000000;
	text-align:left;
}
.kanak p {
    
    padding-bottom: 40px;
}

.kanak .packages {
    
    padding: 30px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 30px;
}


.packages li {
    
    display: block;
    padding: 5px;
}

.packages h4,
.packages h1,h2
.packages b {
    
    color: #4c4c4c;
}

.packages p,
.packages li {
    
    color: #737373;
}

.packages button {
    
    margin-top: 10px;
}



@media(max-width:768px) {
    
    .pricing {
        
        padding: 30px;
    }
    
    .packages {
        
        width: 80%;
        margin-left: 25px;
    }
}

/*HOME PART OF IT*/




/*gmail*/


/*.gmail {
     height: 400px;
    width: 100%;
    padding: 0;
    margin-top: 0px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
 
    padding: 50px 0 80px;
    text-align: center;
    background-color: #3399ff;
}
.gmail img
{
    border-radius:50%;
    margin-top:5%;
    display:block;
    margin-left:50%;
    margin-right:auto;
    width:60%;
    height:60%;
}
.gmail h2,
.gmail p {
    margin-left:0%;
    text-align: center;
    color: #fff;
}

.gmail h5
{
    color:#000;
}
.gmail p {
    
    padding-bottom: 40px;
    font-size:10px;
}

.gmail .packages {
    
    padding: 30px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 30px;
}


.packages li {
    
    display: block;
    padding: 5px;
}

.packages h4,
.packages h1,
.packages b {
    
    color: #4c4c4c;
    font-size:20px;
}

.packages p,
.packages li {
    
    color: #737373;
}

.packages button {
    
    margin-top: 10px;
}
/*gmail*/
/*.gmail {
     height: 500px;
    width: 100%;
    padding: 0;
    margin-top: 0px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    
    padding: 50px 0 80px;
    text-align: center;
    background-color: #3399ff;
}
.gmail img
{
    border-radius:50%;
    margin-top:5%;
    display:block;
    margin-left:50%;
    margin-right:auto;
    width:60%;
    height:60%;
}
.gmail h2,
.gmail p {
    margin-left:0%;
    text-align: center;
    color: #fff;
}

.gmail h5
{
    color:#000;
}
.gmail p {
    
    padding-bottom: 40px;
    font-size:10px;
}

.gmail .packages {
    
    padding: 30px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 30px;
}


.packages li {
    
    display: block;
    padding: 5px;
}

.packages h4,
.packages h1,
.packages b {
    
    color: #4c4c4c;
    font-size:20px;
}

.packages p,
.packages li {
    
    color: #737373;
}

.packages button {
    
    margin-top: 10px;
}
/*gmail*/
/*CLINTS*/


.gmail {
    padding: 100px 0 100px;
    text-align: center;
     background:linear-gradient(90deg,#f0027f,#75489f);
    /*background-color: #3399ff;*/
}

.gmail h2,
.gmail p {
    
    color: #fff;
}
.gmail .li
{
	color:#000000;
	text-align:left;
}

.gmail p {
    
    padding-bottom: 40px;
}

.gmail .packages {
    
    padding: 30px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 30px;
}


.packages li {
    
    display: block;
    padding: 5px;
}

.packages h4,
.packages h1,h2
.packages b {
    
    color: #4c4c4c;
}

.packages p,
.packages li {
    
    color: #737373;
}

.packages button {
    
    margin-top: 10px;
}



@media(max-width:768px) {
    
    .pricing {
        
        padding: 30px;
    }
    
    .packages {
        
        width: 80%;
        margin-left: 25px;
    }
}
/*end of myworks*/













































